* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;

}

/*header*/
.header {
    background: white;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.header-title {
    margin: 0;
    font-size: 22px;
    color: darkblue;
}
.search-box {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
}

/* table*/
.users-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table-header-checkbox{
    display: flex;
    align-items: center;
    gap: 8px;
}
.users-table th, .users-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.users-table th {
    background: #f8f8f8;
    background: #090641;
    color: aliceblue;
}

.users-table tr:hover {
    background: #f1f1f1;
}


